{{>header}}
{{>navbar}}

{{>breadcrum}}

<section id="admin" class="section-padding">
    <div class="container-fluid my-3">
        <div class="row mx-3">
            <div class="col-md-3 mb-3">
                {{>sidebar}}
            </div>
            <div class="col-md-9 mb-3">
                <h5 class="bg-primary p-2 text-center text-light">Your Profile</h5>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr>
                            <th>User Name</th>
                            <td>{{data.username}}</td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td>{{data.email}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{data.phone}}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{data.role}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{{>footer}}