{{>header}}
{{>navbar}}

{{>breadcrum}}

<section id="admin" class="section-padding">
    <div class="container-fluid  my-3">
        <div class="row mx-3">
            <div class="col-md-3 mb-3">
                {{>sidebar}}
            </div>
            <div class="col-md-9 mb-3">
                <h5 class="bg-primary text-center p-2 text-light">Newsletter</h5>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Active</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td>{{_id}}</td>
                                <td>{{email}}</td>
                                <td>{{isActive active}}</td>
                                <td><a href="/admin/newsletter/edit/{{_id}}" class="btn btn-primary">Change Status</a></td>
                                <td><a href="/admin/newsletter/delete/{{_id}}"
                                        class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer}}