{{>header}}
{{>navbar}}

{{>breadcrum}}

<section id="admin" class="section-padding">
    <div class="container-fluid  my-3">
        <div class="row mx-3">
            <div class="col-md-3 mb-3">
                {{>sidebar}}
            </div>
            <div class="col-md-9 mb-3">
                <h5 class="bg-primary text-center p-2 text-light">Gallery<a href="/admin/gallery"><i
                            class="bi bi-arrow-left text-light float-end"></i></a></h5>
                <form action="/admin/gallery/update/{{data.id}}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Pic</label>
                            <input type="file" name="pic"
                                class="form-control {{#if errorMessage.pic}} border-danger{{/if}}">
                            {{#if errorMessage.pic}}
                            <p class="text-danger">{{errorMessage.pic}}</p>
                            {{/if}}
                        </div>

                        <div class="col-md-4 mb-3">
                            <label>Sort Order*</label>
                            <input type="number" name="sortOrder" class="form-control"
                                value="{{#if data.sortOrder}}{{data.sortOrder}}{{else}}10{{/if}}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <label>Active*</label>
                            <select name="active" class="form-control">
                                <option value="1" {{isActiveFormHelper data.active "1" }}>Yes</option>
                                <option value="0" {{isActiveFormHelper data.active "0" }}>No</option>
                            </select>
                        </div>

                        <div class="col-12 mb-3">
                            <button type="submit" class="btn btn-primary w-100">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{>footer}}