<!-- START SERVICES SECTION -->
<section id="services" class="section-padding">
   <div class="auto-container">
      <div class="row">
         <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
            <div class="section-title">
               <h6 class="theme-color">Think Out Side The Box</h6>
               <h2>Why Choose {{siteName}}</h2>
               <p>Our school features modern classrooms, smart learning tools, safe transport, co-curricular activities,
                  and a secure, student-friendly campus designed to support every child’s academic and personal growth.
               </p>
            </div>
         </div>
      </div>
      <!-- end section title -->
      <div class="row">
         {{#each feature}}
         <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0 mb-sm-4 mb-4">
            <div class="single-service-item shadow bg-white">
               <div class="icon-holder mb-3">
                  <div class="service-item-icon-bg">
                     {{{icon}}}
                  </div>
               </div>
               <div class="service-item-text-holder">
                  <h4>{{title}}</h4>
                  <p class="text-justify">{{shortDescription}}</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal"
                     data-target="#feature{{_id}}">
                     Read More
                  </button>

               </div>
            </div>
         </div>


         <div class="modal fade" id="feature{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     {{{longDescription}}}
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
   <!--- END CONTAINER -->
</section>
<!-- END SERVICES SECTION -->
<!-- END COUNTER SECTION -->