<!-- START FOOTER -->
<footer class="footer-section">
    <div id="top-footer" class="dark-background">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-sm-5 mb-5">
                    <div class="footer-widget-title col-12 p-0">
                        <div class="logo">
                            <a href="index.html">
                                <img class="img-fluid" src="/assets/img/logo2.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer-widget-inner">
                        <p class="text-justify text-light">Genius Public School is committed to nurturing young minds
                            through quality education, innovation, and values. We aim to empower students for a brighter
                            future with a strong academic foundation and holistic development. Join us in shaping
                            tomorrow’s leaders with knowledge, discipline, and creativity at the heart of learning.</p>
                        <div class="img-menu float-lg-left float-none mt-3">
                            <div class="footer-social">
                                <ul>
                                    <li><a class="social-fb" target="_blank" href="{{siteFacebook}}"><i
                                                class="icofont-facebook"></i></a></li>
                                    <li><a class="social-fb" target="_blank" href="{{siteInstagram}}"><i
                                                class="icofont-instagram"></i></a></li>
                                    <li><a class="social-tw" target="_blank" href="{{siteTwitter}}"><i
                                                class="icofont-twitter"></i></a></li>
                                    <li><a class="social-gp" target="_blank" href="{{siteYoutube}}"><i
                                                class="icofont-youtube"></i></a></li>
                                    <li><a class="social-fb" target="_blank" href="{{siteLinkedin}}"><i
                                                class="icofont-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-sm-5 mb-5">
                    <div class="footer-widget-title col-12 p-0 mt-5">
                        <h4 class="text-light">Quick Links</h4>
                    </div>
                    <div class="footer-widget-inner">
                        <ul>
                            <li><a class="text-light" href="/"><i class="text-light icofont-circled-right"></i> Home</a>
                            </li>
                            <li><a class="text-light" href="/about"><i class="text-light icofont-circled-right"></i>
                                    About</a></li>
                            <li><a class="text-light" href="/event"><i class="text-light icofont-circled-right"></i>
                                    Events</a></li>
                            <li><a class="text-light" href="/feature"><i class="text-light icofont-circled-right"></i>
                                    Features</a></li>
                            <li><a class="text-light" href="/service"><i class="text-light icofont-circled-right"></i>
                                    Services</a></li>
                            <li><a class="text-light" href="/department"><i
                                        class="text-light icofont-circled-right"></i>
                                    Departments</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-5 mb-5">
                    <div class="footer-widget-title col-12 p-0 mt-5">
                        <h4 class="text-light">Other Useful Links</h4>
                    </div>
                    <div class="footer-widget-inner">
                        <ul>
                            <li><a class="text-light" href="/faq"><i class="text-light icofont-circled-right"></i>
                                    Faqs</a>
                            </li>
                            <li><a class="text-light" href="/gallery"><i class="text-light icofont-circled-right"></i>
                                    Gallery</a></li>
                            <li><a class="text-light" href="/testimonial"><i
                                        class="text-light icofont-circled-right"></i>
                                    Testimonials</a></li>
                            <li><a class="text-light" href="/contactus"><i class="text-light icofont-circled-right"></i>
                                    Conatct
                                    US</a></li>
                            <li><a class="text-light" href="#"><i class="text-light icofont-circled-right"></i> Privacy
                                    Policy</a></li>
                            <li><a class="text-light" href="#"><i class="text-light icofont-circled-right"></i> Data
                                    Policy</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-0 mb-sm-0 mb-0">
                    <div class="footer-widget-title col-12 p-0 mt-5">
                        <h4 class="text-light">Get In Touch</h4>
                    </div>
                    <div class="footer-widget-inner">
                        <div class="footer-contact-widget">
                            <div class="footer-contact-sin">
                                <div class="footer-contact-sin-left">
                                    <i class="icofont-pin text-light"></i>
                                </div>
                                <div class="footer-contact-sin-right">
                                    <a class="text-light" href="{{siteMap2}}" target="_blank">{{siteAddress}}</a>
                                </div>
                            </div>
                            <div class="footer-contact-sin">
                                <div class="footer-contact-sin-left">
                                    <i class="icofont-smart-phone text-light"></i>
                                </div>
                                <div class="footer-contact-sin-right">
                                    <a class="text-light" href="tel:{{sitePhone}}" target="_blank">{{sitePhone}}</a>
                                </div>
                            </div>
                            <div class="footer-contact-sin">
                                <div class="footer-contact-sin-left">
                                    <i class="icofont-envelope text-light"></i>
                                </div>
                                <div class="footer-contact-sin-right">
                                    <a class="text-light" href="mailto:{{siteEmail}}" target="_blank">{{siteEmail}}</a>
                                </div>
                            </div>
                            <div class="footer-contact-sin">
                                <div class="footer-contact-sin-left">
                                    <i class="icofont-whatsapp"></i>
                                </div>
                                <div class="footer-contact-sin-right">
                                    <a class="text-light" href="https://wa.me/{{siteWhatsApp}}"
                                        target="_blank">{{siteWhatsApp}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->

<!-- Latest jQuery -->
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<!-- popper js -->
<script src="/assets/bootstrap/js/popper.min.js"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- Meanmenu Js -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- Sticky JS -->
<script src="/assets/js/jquery.sticky.js"></script>
<!-- owl-carousel min js  -->
<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
<!-- isotope js -->
<script src="/assets/js/isotope.3.0.6.min.js"></script>
<!-- venobox js -->
<script src="/assets/venobox/js/venobox.min.js"></script>
<!-- jquery appear js  -->
<script src="/assets/js/jquery.appear.js"></script>
<!-- countTo js -->
<script src="/assets/js/jquery.inview.min.js"></script>
<!-- scrolltopcontrol js -->
<script src="/assets/js/scrolltopcontrol.js"></script>
<!-- WOW - Reveal Animations When You Scroll -->
<script src="/assets/js/wow.min.js"></script>
<!-- scripts js -->
<script src="/assets/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script>
    new DataTable('#dataTable');
    var textEditor1 = new RichTextEditor("#textEditor1");
    var textEditor2 = new RichTextEditor("#textEditor2");
    var textEditor3 = new RichTextEditor("#textEditor3");
    var textEditor4 = new RichTextEditor("#textEditor4");
    //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
</script>
</body>

</html>